div
{
 color:white;
    border:1px solid;
    width:20%;
    display:inline-block;
    padding:20px;
    margin:20px;
}
#id1
{
    
    background:linear-gradient(45deg,green,yellow)

}
#id2
{
    
    background:linear-gradient(45deg,pink,yellow)

}
#id3
{
    
    background:linear-gradient(45deg,black,blue)

}
h1{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color:brown;
}
p{
    text-align:justify;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}