h1,h2,h3,h4,h5,h6{
    color:red;
    text-align:center;
    border: 1px;
    width:30%;
    background-color: greenyellow;
    border-radius: 0px 60px;
    border-style:dashed;
    padding: 20px;
    margin:20px;

}