p{
    color:white;
    border:1px solid;
    width:20%;
    text-align: justify;
    display:inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:40px;
    margin:20px;
    background:linear-gradient(45deg,red,black)

}